

*{
    margin: 0;
    padding: 0;
}

header, section , .head, footer{
    display: none;
}



/*HEADER*/

header {
    width: auto;
    background-color: #757b80;
    font-size: 1rem;
}

header a {
    text-decoration: none;
    color: #ffffff;
    margin: 3%;
}

header a:hover{
    color:#0f558f;
}

#avatar {
    margin: 10% auto auto 5%;
    height: 150px;
    border-radius: 100px;
    border: 5px solid #0f558f;
}

.header-present-name {
    margin: 5% auto 5% 5%;
    color: #f7f7f7;
}

.header-present-name>h2{
    font-size: 3rem;
}

.contacts, .icons-div{
    margin:10% auto 2% auto;
    color:#f7f7f7;
}

header h1{
    font-size: 3rem;
}

/*MAIN*/

main h1{
    color: #000000;
    font-weight: bold;
    font-size: 3rem;
}

main h2, main p{
    color: #757b80;
}

main h2{
    font-size: 3rem;
}

main p{
    font-size: 1.5rem;
}

.skills-p{
    float: left;
}

.skills-points p{
    color:#0f558f;
}

.skills-points{
    position: relative;
    left: 40%;
}

section{
    border: 1px solid #c5cbd0;
    border-radius: 5px;
    padding: 5%;
    height: auto;
    margin-top:2%;
}

section i {
    padding-left: 1%;
    text-align: right;
}

section a, section a:hover{
    text-decoration: none;
    color: #757b80;
}

section a:hover{
    color: #0f558f;
}

.grade{
    font-weight: bold;
}

.span-skills{
    align-content: center;
}

.certificate-link{
    margin-left: 25%;
    padding: 5%;
    background-color: #ffffff;
    color: #757b80;
    border: 2px solid #757b80;
    border-radius: 15px;
}

.certificate-link a {
    text-decoration: none;
}

.certificate-link:hover{
    background-color: #757b80;
    color: #ffffff;
}

.education-date{
    font-size: 0.9em;
    font-style: italic;
}

/*FOOTER*/

footer{
    background-color: #757b80;
    margin-top: 2%;
    padding: 0.5%;
}

footer p{
    text-align: center;
    color: #ffffff;
}

/*RESPONSIVE*/

@media screen and (max-width: 1024px)
    and (-webkit-min-device-pixel-ratio: 2){

    /*MAIN*/

    .skills-points{
        position: relative;
        left: 25%;
    }
}

@media screen and (max-width: 768px)
and (-webkit-min-device-pixel-ratio: 2){

    .container{
        max-width: 100%;
    }

    /*HEADER*/

    #avatar {
        margin: 10% 35% 5%;
    }

    h2.header-present-name {
        margin-left: 35%;
    }

    .contacts, .icons-div{
        margin: 10% 33% 5%;
    }

    header a{
        margin:2%;
    }

    /*MAIN*/

    .skills-points{
        position: relative;
        left: 65%;
    }

    .certificate-link{
        margin-left: 35%;
    }
}

@media screen and (max-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2){

    .container{
        max-width: 100%;
    }
    /*HEADER*/

    #avatar {
        margin: 10% 30% 5%;
    }

    h2.header-present-name {
        margin-left: 30%;
    }

    .contacts, .icons-div{
        margin: 10% 28% 5%;
    }

    header a{
        margin:2%;
    }

    /*MAIN*/

    .skills-points{
        position: relative;
        left: 35%;
    }
}

@media screen and (max-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2){
    .container{
        max-width: 100%;
    }

    /*HEADER*/

    #avatar {
        margin: 10% 20% 5%;
    }

    h2.header-present-name {
        margin-left: 20%;
    }

    .contacts, .icons-div{
        margin: 10% 18% 5%;
    }

    header a{
        margin:2%;
    }

    /*MAIN*/

    .skills-points{
        position: relative;
        left: 25%;
    }

    .certificate-link{
        margin-left: 25%;
    }
}